// Navbar
$navbar--height: 50px;

// Sidebar
$sidebar--width: 230px;
$sidebar--width-fold: 64px;
$sidebar--background-color-dark: #263238;
$sidebar--text-color-dark: #8a979e;

// Content
$content--background-color: #f1f4f5;
$content--card-height: calc(100vh - #{$navbar--height} - 15px - 15px - 2px);
$content--card-height-tabs: calc(100vh - #{$navbar--height} - 40px - 15px - 15px - 2px);
